<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

<script src="js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <style>
      html, body, iframe {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; 
        
      }


    </style>

  </head>
  <body>

  
  <a href="javascript:window.open('','_self').close();" style="text-decoration: none; color: white; font-size:36px;"><div style="position: absolute; z-index: 9999; top: 91.2%; left: 89.6%; background: #181438; border: solid #bd6545 2px; border-radius: 1px; padding: 20px; padding-left: 35px; padding-right: 35px;">НАЗАД</div></a> 

<h2 style="text-align: center; color: #1d1737; padding: 4px; margin: 0 auto; background: #fff; border-bottom: solid 1px #1d1737; position: absolute; width: 100%; top: 0;"><b>3D ТУР</b></h2> 

<iframe src="img/panoramas/output/index.html" frameborder="0" allowfullscreen style="margin-top: 27px;"></iframe>
        

  </body>
</html>
