<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

<script src="js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <style>
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; 
        background: url(img/podlogka.png) no-repeat center;
        background-size: cover;
      }


    </style>

  </head>
  <body>

  <a href="javascript:window.open('','_self').close();" style="text-decoration: none; color: white; font-size:35px;"><div style="position: absolute; z-index: 9999; top: 91%; left: 89.6%; background: #181438; border: solid #bd6545 2px; border-radius: 1px; padding: 20px; padding-left: 35px; padding-right: 35px;">НАЗАД</div></a> 

<h2 style="text-align: center; color: #1d1737; padding: 4px; margin: 0px; background: #fff; border-bottom: solid 1px #1d1737;"><b>КАМЕРА 2</b></h2>


<a href="camera2_full.html" target="_self" style="position: absolute; z-index: 8888; top:15%; left: 84%;"><img src="https://maxcdn.icons8.com/Share/icon/ios7/Photo_Video//full_screen1600.png" width="50"></a>


<video src="http://vs8.videoprobki.com.ua/tvukrbud/cam23.mp4" autoplay loop style="width: 75%; margin-top: 6%; margin-left: 12%; border: solid 1px #1d1738;"></video>




<a href="camera_fs1.html" target="_self" style="text-decoration: none; color: white; font-size:18px;"><div style="position: absolute; top: 15%; left: 91%; background: #181438; border: solid #bd6545 2px; border-radius: 1px; padding: 10px; padding-left: 20px; padding-right: 20px;">Камера 1</div></a> 
        

  </body>
</html>
