<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery.min.js"></script>
        

        <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
        <!-- Custom styles -->
    <link href=".css" rel="stylesheet">

    <style>

      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

  .small-images a, .big-images a {
      display:inline-block
  }
  .small-images .selected {
      border: solid 2px #181438;
  }

  #big-image img{
    border: solid 2px #bd6545;
    border-radius: 2px; 
    margin-top: 5px;
  }

    </style>

  </head>
  <body>

  <a href="javascript:window.open('','_self').close();" style="text-decoration: none; color: white; font-size:35px;"><div style="position: absolute; z-index: 9999; top: 91%; left: 89.6%; background: #181438; border: solid #bd6545 2px; border-radius: 1px; padding: 20px; padding-left: 35px; padding-right: 35px;">НАЗАД</div></a> 


              <div style="display: inherit; position: absolute; width: 218px; height: 200px; top: 3%; left: 2%; text-align: center;">

                <a href="gallery4.html" target="_self" style="color:#b96a41; font-size: 21px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Дитяча кімната</a>
                <hr>
                <a href="gallery_int.html" target="_self" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;"><b>Вхiдна группа</b></a>
                <hr>
                <a href="gallery_fasady.html" target="_self" style="color:#b96a41; font-size: 21px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Фасади</a>
                <hr>  
              </div>



<div id="big-image" style="text-align: center;">
    <img src="img/general_gallery/int/1.jpg" width="1300" style="margin-top: 80px;">
    <img src="img/general_gallery/int/2.jpg" width="700" style="margin-top: 20px;">
    <img src="img/general_gallery/int/3.jpg" width="1300" style="margin-top: 80px;">
    <img src="img/general_gallery/int/4.jpg" width="720" style="margin-top: 20px;">
    <img src="img/general_gallery/int/5.jpg" width="1000" style="margin-top: 20px;">
    <img src="img/general_gallery/int/6.jpg" width="1000" style="margin-top: 20px;">
    <img src="img/general_gallery/int/7.jpg" width="1300" style="margin-top: 200px;">
    <img src="img/general_gallery/int/8.jpg" width="1300" style="margin-top: 200px;">
    <img src="img/general_gallery/int/9.jpg" width="900" style="margin-top: 40px;">
    <img src="img/general_gallery/int/10.jpg" width="1300" style="margin-top: 300px;">
    <img src="img/general_gallery/int/11.jpg" width="1300" style="margin-top: 300px;">

    <img src="img/general_gallery/lifts/Edelweiss_lift_c1.jpg" width="625" style="margin-top: 20px;">
    <img src="img/general_gallery/lifts/Edelweiss_lift_c3.jpg" width="625" style="margin-top: 20px;">
    <img src="img/general_gallery/lifts/Edelweiss_lift_c4.jpg" width="1000" style="margin-top: 20px;">
    <img src="img/general_gallery/lifts/Edelweiss_lift_c6.jpg" width="1000" style="margin-top: 20px;">
</div>

<div class="small-images" style="margin-top: 10px;">
    <img src="img/general_gallery/int/1.jpg" width="170" style="position: absolute; left: 12%; top: 89%; border: solid 1px #181438;">
    <img src="img/general_gallery/int/2.jpg" width="170" style="position: absolute; left: 1%; top:50.5%; border: solid 1px #181438;">
    <img src="img/general_gallery/int/3.jpg" width="170" style="position: absolute; left: 78.5%; top: 89%; border: solid 1px #181438;">
    <img src="img/general_gallery/int/4.jpg" width="170" style="position: absolute; left: 3.5%; top: 63%; border: solid 1px #181438;">
    <img src="img/general_gallery/int/5.jpg" width="170" style="position: absolute; left: 55%; top: 84%; border: solid 1px #181438;">
    <img src="img/general_gallery/int/6.jpg" width="170" style="position: absolute; left: 45.5%; top: 84%; border: solid 1px #181438;">
    <!--7-->
    <img src="img/general_gallery/int/7.jpg" width="170" style="position: absolute; left: 3.5%; top: 24%; border: solid 1px #181438;">
    <!--7-->
    <img src="img/general_gallery/int/8.jpg" width="170" style="position: absolute; left: 3.5%; top: 33%; border: solid 1px #181438;">
    <img src="img/general_gallery/int/9.jpg" width="170" style="position: absolute; left: 36%; top: 84%; border: solid 1px #181438;">
    <img src="img/general_gallery/int/10.jpg" width="220" style="position: absolute; left: 64.5%; top: 90%; border: solid 1px #181438;">
    <img src="img/general_gallery/int/11.jpg" width="220" style="position: absolute; left: 24%; top: 90%; border: solid 1px #181438;">

     <img src="img/general_gallery/lifts/Edelweiss_lift_c1.jpg" width="170" style="position: absolute; left: 86%; top: 2%; border: solid 1px #181438;">
     <img src="img/general_gallery/lifts/Edelweiss_lift_c3.jpg" width="170" style="position: absolute; left: 90%; top: 15%; border: solid 1px #181438;">
     <img src="img/general_gallery/lifts/Edelweiss_lift_c4.jpg" width="170" style="position: absolute; left: 86%; top: 56%; border: solid 1px #181438;">
     <img src="img/general_gallery/lifts/Edelweiss_lift_c6.jpg" width="170" style="position: absolute; left: 90%; top: 66%; border: solid 1px #181438;">
</div>

<div class="next" style="position: absolute; left: 90%; top: 45%;"><img src="img/right-arrow.png" width="80"></div>
<div class="prev" style="position: absolute; left: 6%; top: 45%;"><img src="img/left-arrow.png" width="80"></div>





<script>
     
  
 $(function(){
    var $big= $("#big-image img");
    var $small = $('.small-images img');
    $big.not(':first').hide();
    $small.first().addClass('selected');
    
    $small.click(function(e){
        $small.removeClass('selected');
        var i = $(this).addClass('selected').index();
        $big.hide().eq(i).show();
    });
    
    $('.next, .prev').click(function() {
        var m = $(this).hasClass('next') ? 'next' : 'prev';
        var m1 = $(this).hasClass('prev') ? 'next' : 'prev';

        var $t = $small.filter('.selected')[m]();
        var $t1 = $small.filter('.selected')[m1]();
        if ($t.length) {
            $small.eq($t.index()).click();
        }else if($t1.length){
            $small.eq($t1.index()).click();
        }
    });
    
});


</script> 
  </body>
</html>