<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery.min.js"></script>
        

        <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
        <!-- Custom styles -->
    <link href=".css" rel="stylesheet">

    <style>

      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

  .small-images a, .big-images a {
      display:inline-block
  }
  .small-images .selected {
      border: solid 2px #181438;
  }

  #big-image img{
    border: solid 2px #bd6545;
    border-radius: 2px; 
    margin-top: 5px;
  }

    </style>

  </head>
  <body>

  <a href="javascript:window.open('','_self').close();" style="text-decoration: none; color: white; font-size:35px;"><div style="position: absolute; z-index: 9999; top: 91%; left: 89.6%; background: #181438; border: solid #bd6545 2px; border-radius: 1px; padding: 20px; padding-left: 35px; padding-right: 35px;">НАЗАД</div></a> 

              <div style="display: inherit; position: absolute; width: 218px; height: 200px; top: 3%; left: 2%; text-align: center;">
                <a href="gallery1.html" target="_self" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Лаунж</a>
                <hr>
                <a href="#" target="_self" style="color:#b96a41; font-size: 21px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;"><b>Вбиральнi</b></a>
                <hr>
                <a href="gallery3.html" target="_self" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Бізнес зона</a>
                <hr>
                <a href="gallery4.html" target="_self" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Дитяча кімната</a>
                <hr>
                <a href="gallery_int.html" target="_self" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Вхiдна группа</a>
                <hr>
                <a href="gallery_fasady.html" target="_self" style="color:#b96a41; font-size: 21px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Фасади</a>
                <hr> 
              </div>

              <div style="display: inherit; position: absolute; width: 218px; height: 200px; top: 3%; left: 87%; text-align: center;">
                <a href="gallery2_mens.html" target="_self" style="color:#1d1838; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;"><img src="img/man.png" width="30" style="margin-top: -5px;"> Чоловіча</a>
                <hr>
                <a href="#" target="_self" style="color:#1d1838; font-size: 21px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;"><img src="img/women.png" width="30" style="margin-top: -5px;"><b> Жіноча</b></a>
                <hr>
                <a href="gallery2_animals.html" target="_self" style="color:#1d1838; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;"><img src="img/animal.png" width="30" style="margin-top: -5px;"> Для тварин</a>
                <hr>
                <a href="gallery2.html" target="_self" style="color:#1d1838; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Всі</a>
                <hr> 
              </div>

<div id="big-image" style="text-align: center;">
    <img src="img/general_gallery/toilet/womens/42609_View_07.png" width="1200" style="margin-top: 110px;">
    <img src="img/general_gallery/toilet/womens/42609_View_08.png" width="710">
    <img src="img/general_gallery/toilet/womens/42609_View_09.png" width="710">

    
</div>

<div class="small-images" style="margin-top: 10px;">
   
    <img src="img/general_gallery/toilet/womens/42609_View_07.png" width="200" style="position: absolute; left: 45%; top: 87%; border: solid 1px #181438;">
    <img src="img/general_gallery/toilet/womens/42609_View_08.png" width="200" style="position: absolute; left: 6%; top: 60%; border: solid 1px #181438;">
    <img src="img/general_gallery/toilet/womens/42609_View_09.png" width="200" style="position: absolute; left: 84%; top: 60%; border: solid 1px #181438;">

</div>

<div class="next" style="position: absolute; left: 90%; top: 45%;"><img src="img/right-arrow.png" width="80"></div>
<div class="prev" style="position: absolute; left: 6%; top: 45%;"><img src="img/left-arrow.png" width="80"></div>





<script>
     
  
 $(function(){
    var $big= $("#big-image img");
    var $small = $('.small-images img');
    $big.not(':first').hide();
    $small.first().addClass('selected');
    
    $small.click(function(e){
        $small.removeClass('selected');
        var i = $(this).addClass('selected').index();
        $big.hide().eq(i).show();
    });
    
    $('.next, .prev').click(function() {
        var m = $(this).hasClass('next') ? 'next' : 'prev';
        var m1 = $(this).hasClass('prev') ? 'next' : 'prev';

        var $t = $small.filter('.selected')[m]();
        var $t1 = $small.filter('.selected')[m1]();
        if ($t.length) {
            $small.eq($t.index()).click();
        }else if($t1.length){
            $small.eq($t1.index()).click();
        }
    });
    
});


</script> 
  </body>
</html>
