<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">


    <style>
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: none; 
        
      }


    </style>

  </head>
  <body>

  <a href="javascript:window.open('','_self').close();" style="text-decoration: none; color: white; font-size:35px;"><div style="position: absolute; z-index: 9999; top: 91%; left: 89.6%; background: #181438; border: solid #bd6545 2px; border-radius: 1px; padding: 20px; padding-left: 35px; padding-right: 35px;">НАЗАД</div></a> 

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        

<img src="img/houses2.png" width="" style="position: absolute; top: 5%; margin-left: 0%;">





          <ul class="hr">
            
            <li onclick="fH('#block_id', '#block_id1', '#block_id2');return false;" style="font-size: 30px;" class="typed" id="x1">&nbsp;План типового поверху 3-22&nbsp;

            <svg width="900" height="510" style="position: absolute; top:10px; left: -960px;  outline: none; z-index:200;">
          
            <!--1-23-->

            <a style="outline: none;"><polygon class="" points="703 206,556 255,554 226,553 190,706 119,828 154,827 196,815 200,815 229" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          
            <a style="outline: none;"><polygon class="" points="346 7,249 127,257 214,347 124,539 167,539 124,550 70" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
            
                                  
            </svg>

            </li>



&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <li onclick="fH2('#block_id', '#block_id1', '#block_id2');return false;" style="font-size: 30px;" class="twoleveled">&nbsp;План типового поверху 23-24&nbsp;

            <svg width="950" height="300" style="position: absolute; top:-100px; left: -960px;  outline: none; z-index:200;">
          <!--1-->
            <a style="outline: none;"><polygon class="" points="703 206,556 255,554 226,553 190,706 119,828 154,827 196,815 200,815 229" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--2-->
            <a style="outline: none;"><polygon class="" points="346 7,249 127,257 214,347 124,539 167,539 124,550 70" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
            </svg>

            </li>

          </ul>
          
          <img src="img/lvl_bg_gorisontal.png" width="630" style="position: absolute; top: 65%; left: 11.2%;" >
          

          <img src="img/1.png" width="150" style="position: absolute; top: 72.1%; left: 13.2%;" onclick="fq2()">
          <img src="img/2.png" width="150" style="position: absolute; top: 72.1%; left: 34.4%;" onclick="fq1()">

          <div class="fqq1">
            <h2 style="position: absolute; left: 69%; top: 9%;">БУДИНОК 1</h2>
            <img src="img/1s.png" width="150" style="position: absolute; top: 72.1%; left: 13.2%;"> 
          </div>

          <div class="fqq2">
            <h2 style="position: absolute; left: 69%; top: 9%;">БУДИНОК 2</h2>
            <img src="img/2s.png" width="150" style="position: absolute; top: 72.1%; left: 34.4%;"> 
          </div>

          

          <script>
            function fq1(){
  $('.fqq1').css({visibility: 'hidden'});
  $('.fqq2').css({visibility: 'visible'});
  
}
            function fq2(){
  $('.fqq1').css({visibility: 'visible'});
  $('.fqq2').css({visibility: 'hidden'});

  
}
          </script>


          <div id="block_id" style="display:none;">
          
          <!-- APPS FILTER -->
          <ul style="position: absolute; z-index: ; top: 16%; left: 66%; font-size: 25px;">
            <li class="btn-test1" style="float: left; padding-right: 25px;">1K</li>
            <li class="btn-test2" style="float: left; padding-right: 25px;">2K</li>
            <li class="btn-test3" style="float: left; padding-right: 25px;">3K</li>
            <li class="btn-reset" style="float: left; padding-right: 25px;"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/415758-200.png" alt="reset" width="35" style="margin-top: -5px"></li>
          </ul>


          <img src="img/3-23.png" width="" style="position: absolute; top: 22%; left: 48%;" />
          
          <svg width="900" height="510" style="position: absolute; top:50px; left: 0px;  outline: none; z-index:100;">
          
            <!--1-23-->

            <a style="outline: none;"><polygon class="" points="704 202,557 253,557 500,701 510,817 505,819 228" data-rooms="1" fill="#1b1036" style="opacity: 0.5;" /></polygon></a>
          
            <a style="outline: none;"><polygon class="" points="348 125,258 207,260 512,350 530,542 515,540 168" data-rooms="1" fill="#1b1036" style="opacity: 0.5;" /></polygon></a>
            
                                  
            </svg>
          
        <!-- TYPED -->  
        <svg width="950" height="695" style="position: absolute; top:22%; left: 48%;  outline: none;">
          <!--1-->
            <a data-toggle="modal" href="#myModal" style="outline: none;"><polygon class="path3" points="427 165,384 166,384 147,239 147,239 18,317 18,317 0,429 0" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--2-->
            <a data-toggle="modal" href="#myModal1" style="outline: none;"><polygon class="path2" points="388 160,426 160,426 284,286 284,286 195,261 195,261 141,388 141" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--3-->
            <a data-toggle="modal" href="#myModal2" style="outline: none;"><polygon class="path1" points="285 396,428 396,428 282,285 283" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--4-->
            <a data-toggle="modal" href="#myModal3" style="outline: none;"><polygon class="path2" points="286 485,264 485,264 538,391 538,391 492,427 491,427 394,286 394" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--5-->
            <a data-toggle="modal" href="#myModal4" style="outline: none;"><polygon class="path3" points="427 484,429 693,320 692,320 677,239 676,238 533,384 532,385 484" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
            <!--6-->
            <a data-toggle="modal" href="#myModal5" style="outline: none;"><polygon class="path1" points="528 524,529 670,422 670,422 525" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>

          <!--7-->
            <a data-toggle="modal" href="#myModal6" style="outline: none;"><polygon class="path3" points="568 483,568 533,712 531,712 677,632 678,631 694,522 694,524 484" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--8-->
            <a data-toggle="modal" href="#myModal7" style="outline: none;"><polygon class="path2" points="525 488,561 489,562 539,688 539,687 484,665 484,664 393,524 393" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--9-->
            <a data-toggle="modal" href="#myModal8" style="outline: none;"><polygon class="path1" points="524 401,664 400,664 282,524 282" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--10-->
            <a data-toggle="modal" href="#myModal9" style="outline: none;"><polygon class="path2" points="524 288,663 287,663 195,689 196,688 141,560 141,560 161,523 161" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--11-->
            <a data-toggle="modal" href="#myModal10" style="outline: none;;"><polygon class="path3" points="634 19,714 19,714 147,566 148,566 164,524 165,522 2,633 2" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
        </svg>

        
        </div>

        <!-- Two-leveled -->

        <div id="block_id2" style="display:none;">
          
          <!-- APPS FILTER -->
          <ul style="position: absolute; z-index:; top: 16%; left: 66%; font-size: 25px;">
            <li class="btn-test3" style="float: left; padding-right: 30px;">3K</li>
            <li class="btn-test4" style="float: left; padding-right: 30px;">4K</li>
            <li class="btn-test5" style="float: left; padding-right: 30px;">5K</li>
            <li class="btn-reset" style="float: left; padding-right: 30px;"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/415758-200.png" alt="reset" width="35" style="margin-top: -5px"></li>
          </ul>  


          <img src="img/23.png" width="" style="position: absolute; top: 22%; left: 48%;" />
          
           <svg width="950" height="300" style="position: absolute; top:50px; left: 0px;  outline: none; z-index:100;">
          <!--1-->
            <a style="outline: none;"><polygon class="" points="703 206,556 255,554 226,553 190,706 119,828 154,827 196,815 200,815 229" data-rooms="1" fill="#1b1036" style="opacity: 0.5;" /></polygon></a>
          <!--2-->
            <a style="outline: none;"><polygon class="" points="346 7,249 127,257 214,347 124,539 167,539 124,550 70" data-rooms="1" fill="#1b1036" style="opacity: 0.5;" /></polygon></a>
           </svg>
          
        
        <svg width="950" height="695" style="position: absolute; top:22%; left: 48%; outline: none;">
          <!--1-->
            <a data-toggle="modal" href="#myModal11" style="outline: none;"><polygon class="path5" points="427 165,384 165,384 146,239 146,239 19,318 18,318 1,428 1" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--2-->
            <a data-toggle="modal" href="#myModal12" style="outline: none;"><polygon class="path3" points="262 141,388 141,388 159,427 159,427 256,288 256,288 195,262 195" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--3-->
            <a data-toggle="modal" href="#myModal13" style="outline: none;"><polygon class="path3" points="286 339,428 338,427 253,286 253" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--4-->
            <a data-toggle="modal" href="#myModal14" style="outline: none;"><polygon class="path3" points="284 429,427 429,426 335,285 336" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--5-->
            <a data-toggle="modal" href="#myModal15" style="outline: none;"><polygon class="path3" points="426 489,391 489,390 537,265 536,265 484,286 483,286 426,428 425" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
            <!--6-->
            <a data-toggle="modal" href="#myModal16" style="outline: none;"><polygon class="path4" points="384 529,385 484,428 484,428 694,320 694,319 676,240 676,240 530" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>

          <!--7-->
            <a data-toggle="modal" href="#myModal17" style="outline: none;"><polygon class="path3" points="421 672,530 671,530 526,421 527" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--8-->
            <a data-toggle="modal" href="#myModal18" style="outline: none;"><polygon class="path4" points="522 693,630 694,630 676,712 677,711 531,567 532,567 482,525 481" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--9-->
            <a data-toggle="modal" href="#myModal19" style="outline: none;"><polygon class="path3" points="524 489,560 490,561 538,688 539,686 484,664 484,663 425,523 425" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--10-->
            <a data-toggle="modal" href="#myModal20" style="outline: none;"><polygon class="path3" points="522 431,664 430,664 334,524 334" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--11-->
            <a data-toggle="modal" href="#myModal21" style="outline: none;;"><polygon class="path3" points="522 341,665 341,664 252,523 253" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--12-->
            <a data-toggle="modal" href="#myModal22" style="outline: none;;"><polygon class="path3" points="559 160,559 141,686 141,686 194,663 194,662 258,523 259,523 160" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--13-->
            <a data-toggle="modal" href="#myModal23" style="outline: none;;"><polygon class="path5" points="634 18,634 1,522 1,524 165,565 164,565 147,714 147,714 17" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
        </svg>

       
        
        
        </div>

        <!-- Individual -->

        <div id="block_id1" style="display:none;">
        
        <!-- APPS FILTER -->
          <ul style="position: absolute; z-index: ; top: 30%; left: 63%; font-size: 25px;">
            <li class="btn-test1" style="float: left; padding-right: 30px;">1K</li>
            <li class="btn-test2" style="float: left; padding-right: 30px;">2K</li>
            <li class="btn-test3" style="float: left; padding-right: 30px;">3K</li>
            <li class="btn-test4" style="float: left; padding-right: 30px;">4K</li>
            <li class="btn-test5" style="float: left; padding-right: 30px;">5K</li>
            <li class="btn-reset" style="float: left; padding-right: 30px;">0K</li>
          </ul>  

          <img src="img/0-3.png" width="" style="position: absolute; top: 44%; left: 52.2%;" />
          <img src="img/0-3.png" width="" style="position: absolute; top:44%; left: 82.5%;" />
          
          
        
        <svg width="287" height="416" style="position: absolute; top: 44%; left: 52.2%; outline: none;">
          <!--1-->
            <a data-toggle="modal" href="#myModal" style="outline: none;"><polygon class="path3" points="57 18,10 18,10 85,93 84,93 95,113 95,112 6,57 6" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--2-->
            <a data-toggle="modal" href="#myModal1" style="outline: none;"><polygon class="path2" points="24 112,37 112,37 166,113 166,112 99,88 99,88 88,24 88" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--3-->
            <a data-toggle="modal" href="#myModal2" style="outline: none;"><polygon class="path1" points="37 231,112 231,112 171,37 171" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--4-->
            <a data-toggle="modal" href="#myModal3" style="outline: none;"><polygon class="path2" points="37 290,25 290,25 313,90 313,90 285,112 285,112 234,37 234" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--5-->
            <a data-toggle="modal" href="#myModal4" style="outline: none;"><polygon class="path3" points="112 290,112 403,58 403,58 394,10 395,10 318,94 318,95 290" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
            <!--6-->
            <a data-toggle="modal" href="#myModal5" style="outline: none;"><polygon class="path1" points="170 311,170 390,117 390,117 311" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>

          <!--7-->
            <a data-toggle="modal" href="#myModal6" style="outline: none;"><polygon class="path3" points="175 402,230 402,230 392,277 392,277 316,192 315,192 288,175 288" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--8-->
            <a data-toggle="modal" href="#myModal7" style="outline: none;"><polygon class="path2" points="174 286,196 286,196 313,262 313,262 288,250 288,250 234,174 233" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--9-->
            <a data-toggle="modal" href="#myModal8" style="outline: none;"><polygon class="path1" points="174 232,250 232,250 170,174 170" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--10-->
            <a data-toggle="modal" href="#myModal9" style="outline: none;"><polygon class="path2" points="199 100,199 89,263 89,263 113,249 112,250 166,175 166,176 100" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--11-->
            <a data-toggle="modal" href="#myModal10" style="outline: none;;"><polygon class="path3" points="230 7,230 18,278 18,278 84,193 84,193 95,175 95,175 7" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
        </svg>

        <svg width="287" height="416" style="position: absolute; top:44%; left: 82.5%; outline: none;">
          <!--1-->
            <a data-toggle="modal" href="#myModal" style="outline: none;"><polygon class="path3" points="57 18,10 18,10 85,93 84,93 95,113 95,112 6,57 6" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--2-->
            <a data-toggle="modal" href="#myModal1" style="outline: none;"><polygon class="path2" points="24 112,37 112,37 166,113 166,112 99,88 99,88 88,24 88" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--3-->
            <a data-toggle="modal" href="#myModal2" style="outline: none;"><polygon class="path1" points="37 231,112 231,112 171,37 171" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--4-->
            <a data-toggle="modal" href="#myModal3" style="outline: none;"><polygon class="path2" points="37 290,25 290,25 313,90 313,90 285,112 285,112 234,37 234" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--5-->
            <a data-toggle="modal" href="#myModal4" style="outline: none;"><polygon class="path3" points="112 290,112 403,58 403,58 394,10 395,10 318,94 318,95 290" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
            <!--6-->
            <a data-toggle="modal" href="#myModal5" style="outline: none;"><polygon class="path1" points="170 311,170 390,117 390,117 311" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>

          <!--7-->
            <a data-toggle="modal" href="#myModal6" style="outline: none;"><polygon class="path3" points="175 402,230 402,230 392,277 392,277 316,192 315,192 288,175 288" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--8-->
            <a data-toggle="modal" href="#myModal7" style="outline: none;"><polygon class="path2" points="174 286,196 286,196 313,262 313,262 288,250 288,250 234,174 233" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--9-->
            <a data-toggle="modal" href="#myModal8" style="outline: none;"><polygon class="path1" points="174 232,250 232,250 170,174 170" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--10-->
            <a data-toggle="modal" href="#myModal9" style="outline: none;"><polygon class="path2" points="199 100,199 89,263 89,263 113,249 112,250 166,175 166,176 100" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
          <!--11-->
            <a data-toggle="modal" href="#myModal10" style="outline: none;"><polygon class="path3" points="230 7,230 18,278 18,278 84,193 84,193 95,175 95,175 7" data-rooms="1" fill="#1b1036" style="opacity: 0;" /></polygon></a>
        </svg>
        
        </div>

<!-- ******************************************************MODAL WINDOWS**************************************************** -->
        <!-- Modal0 -->
  <div class="modal fade" id="myModal" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ТРИКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/1.png" width="1200">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal1 -->
  <div class="modal fade" id="myModal1" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ДВОКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/2.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal2 -->
  <div class="modal fade" id="myModal2" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ОДНОКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/3.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal3 -->
  <div class="modal fade" id="myModal3" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ДВОКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/4.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>  

<!-- Modal4 -->
  <div class="modal fade" id="myModal4" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ТРИКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/5.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal5 -->
  <div class="modal fade" id="myModal5" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ОДНОКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/6.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>  

<!-- Modal6 -->
  <div class="modal fade" id="myModal6" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ТРИКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/7.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal7 -->
  <div class="modal fade" id="myModal7" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 1400px; text-align: center; margin-top: 7%;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ДВОКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/8.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal8 -->
  <div class="modal fade" id="myModal8" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ОДНОКІНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/9.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal9 -->
  <div class="modal fade" id="myModal9" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ДВОКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/10.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal10 -->
  <div class="modal fade" id="myModal10" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">ТРИКІМНАТНА КВАРТИРА</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/3-22/11.png" width="1200" style="display:;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->

<!-- Modal11 -->
  <div class="modal fade" id="myModal11" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">П'ятикімнатна квартира</h4>
        </div>
        <div class="modal-body">
                  
          <img src="img/apps/23/1_1.png" width="1200" class="sre" style="position: absolute;">
          <img src="img/apps/23/1_2.png" width="1200" >
                  <span onclick="fff2();" class="bu2">на 1-й поверх</span>
                  <span onclick="fff1();" class="bu1">на 2-й поверх</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff1(){
  $('.sre').css({visibility: 'hidden'});
  $('.bu1').css({visibility: 'hidden'});
  $('.bu2').css({visibility: 'visible'});
}
function fff2(){
  $('.sre').css({visibility: 'visible'});
  $('.bu1').css({visibility: 'visible'});
  $('.bu2').css({visibility: 'hidden'});
}
</script>

<!-- Modal12 -->
  <div class="modal fade" id="myModal12" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Трьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/23/2_1.png" width="1200" class="sre1" style="position: absolute;">
          <img src="img/apps/23/2_2.png" width="1200" >
                  <span onclick="fff21();" class="bu21">на 1-й поверх</span>
                  <span onclick="fff11();" class="bu11">на 2-й поверх</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff11(){
  $('.sre1').css({visibility: 'hidden'});
  $('.bu11').css({visibility: 'hidden'});
  $('.bu21').css({visibility: 'visible'});
}
function fff21(){
  $('.sre1').css({visibility: 'visible'});
  $('.bu11').css({visibility: 'visible'});
  $('.bu21').css({visibility: 'hidden'});
}
</script>

<!-- Modal13 -->
  <div class="modal fade" id="myModal13" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Трьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">

        <img src="img/apps/23/3_1.png" width="1200" class="sre2" style="position: absolute;">
          <img src="img/apps/23/3_2.png" width="1200" >
                  <span onclick="fff22();" class="bu22">на 1-й поверх</span>
                  <span onclick="fff12();" class="bu12">на 2-й поверх</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff12(){
  $('.sre2').css({visibility: 'hidden'});
  $('.bu12').css({visibility: 'hidden'});
  $('.bu22').css({visibility: 'visible'});
}
function fff22(){
  $('.sre2').css({visibility: 'visible'});
  $('.bu12').css({visibility: 'visible'});
  $('.bu22').css({visibility: 'hidden'});
}
</script>

<!-- Modal14 -->
  <div class="modal fade" id="myModal14" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Трьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">
          <img src="img/apps/23/4_1.png" width="1200" class="sre3" style="position: absolute;">
          <img src="img/apps/23/4_2.png" width="1200" >
                  <span onclick="fff23();" class="bu23">на 1-й поверх</span>
                  <span onclick="fff13();" class="bu13">на 2-й поверх</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff13(){
  $('.sre3').css({visibility: 'hidden'});
  $('.bu13').css({visibility: 'hidden'});
  $('.bu23').css({visibility: 'visible'});
}
function fff23(){
  $('.sre3').css({visibility: 'visible'});
  $('.bu13').css({visibility: 'visible'});
  $('.bu23').css({visibility: 'hidden'});
}
</script>  

<!-- Modal15 -->
  <div class="modal fade" id="myModal15" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%;">

        <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Трьохкімнатна квартира</h4>
        </div>
        <div class="modal-body" style="margin-bottom: 0px;">

        <img src="img/apps/23/5_1.png" width="1200" class="sre4" style="position: absolute;">
          <img src="img/apps/23/5_2.png" width="1200" >
                  <span onclick="fff24();" class="bu24">на 1-й поверх</span>
                  <span onclick="fff14();" class="bu14">на 2-й поверх</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff14(){
  $('.sre4').css({visibility: 'hidden'});
  $('.bu14').css({visibility: 'hidden'});
  $('.bu24').css({visibility: 'visible'});
}
function fff24(){
  $('.sre4').css({visibility: 'visible'});
  $('.bu14').css({visibility: 'visible'});
  $('.bu24').css({visibility: 'hidden'});
}
</script>    

<!-- Modal16 -->
  <div class="modal fade" id="myModal16" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Чотирьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">

        <img src="img/apps/23/6_1.png" width="1200" class="sre5" style="position: absolute;">
          <img src="img/apps/23/6_2.png" width="1200" >
                  <span onclick="fff25();" class="bu25">на 1-й поверх</span>
                  <span onclick="fff15();" class="bu15">на 2-й поверх</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff15(){
  $('.sre5').css({visibility: 'hidden'});
  $('.bu15').css({visibility: 'hidden'});
  $('.bu25').css({visibility: 'visible'});
}
function fff25(){
  $('.sre5').css({visibility: 'visible'});
  $('.bu15').css({visibility: 'visible'});
  $('.bu25').css({visibility: 'hidden'});
}
</script>    

<!-- Modal17 -->
  <div class="modal fade" id="myModal17" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Трьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">

        <img src="img/apps/23/7_1.png" width="1200" class="sre6" style="position: absolute;">
          <img src="img/apps/23/7_2.png" width="1200" >
                  <span onclick="fff26();" class="bu26">на 1-й поверх</span>
                  <span onclick="fff16();" class="bu16">на 2-й поверх</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff16(){
  $('.sre6').css({visibility: 'hidden'});
  $('.bu16').css({visibility: 'hidden'});
  $('.bu26').css({visibility: 'visible'});
}
function fff26(){
  $('.sre6').css({visibility: 'visible'});
  $('.bu16').css({visibility: 'visible'});
  $('.bu26').css({visibility: 'hidden'});
}
</script>     

<!-- Modal18 -->
  <div class="modal fade" id="myModal18" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Чотирьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">

          <img src="img/apps/23/8_1.png" width="1200" class="sre7" style="position: absolute;">
          <img src="img/apps/23/8_2.png" width="1200" >
                  <span onclick="fff27();" class="bu27">на 1-й поверх</span>
                  <span onclick="fff17();" class="bu17">на 2-й поверх</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff17(){
  $('.sre7').css({visibility: 'hidden'});
  $('.bu17').css({visibility: 'hidden'});
  $('.bu27').css({visibility: 'visible'});
}
function fff27(){
  $('.sre7').css({visibility: 'visible'});
  $('.bu17').css({visibility: 'visible'});
  $('.bu27').css({visibility: 'hidden'});
}
</script>     

<!-- Modal19 -->
  <div class="modal fade" id="myModal19" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Трьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">

          <img src="img/apps/23/9_1.png" width="1200" class="sre8" style="position: absolute;">
          <img src="img/apps/23/9_2.png" width="1200" >
                  <span onclick="fff28();" class="bu28">на 1-й поверх</span>
                  <span onclick="fff18();" class="bu18">на 2-й поверх</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff18(){
  $('.sre8').css({visibility: 'hidden'});
  $('.bu18').css({visibility: 'hidden'});
  $('.bu28').css({visibility: 'visible'});
}
function fff28(){
  $('.sre8').css({visibility: 'visible'});
  $('.bu18').css({visibility: 'visible'});
  $('.bu28').css({visibility: 'hidden'});
}
</script>    

<!-- Modal20 -->
  <div class="modal fade" id="myModal20" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Трьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">

          <img src="img/apps/23/10_1.png" width="1200" class="sre9" style="position: absolute;">
          <img src="img/apps/23/10_2.png" width="1200" >
                  <span onclick="fff29();" class="bu29">на 1-й поверх</span>
                  <span onclick="fff19();" class="bu19">на 2-й поверх</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff19(){
  $('.sre9').css({visibility: 'hidden'});
  $('.bu19').css({visibility: 'hidden'});
  $('.bu29').css({visibility: 'visible'});
}
function fff29(){
  $('.sre9').css({visibility: 'visible'});
  $('.bu19').css({visibility: 'visible'});
  $('.bu29').css({visibility: 'hidden'});
}
</script>    

<!-- Modal21 -->
  <div class="modal fade" id="myModal21" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Трьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">

          <img src="img/apps/23/11_1.png" width="1200" class="sre10" style="position: absolute;">
          <img src="img/apps/23/11_2.png" width="1200" >
                  <span onclick="fff210();" class="bu210">на 1-й поверх</span>
                  <span onclick="fff110();" class="bu110">на 2-й поверх</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff110(){
  $('.sre10').css({visibility: 'hidden'});
  $('.bu110').css({visibility: 'hidden'});
  $('.bu210').css({visibility: 'visible'});
}
function fff210(){
  $('.sre10').css({visibility: 'visible'});
  $('.bu110').css({visibility: 'visible'});
  $('.bu210').css({visibility: 'hidden'});
}
</script>    

<!-- Modal22 -->
  <div class="modal fade" id="myModal22" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">Трьохкімнатна квартира</h4>
        </div>
        <div class="modal-body">

          <img src="img/apps/23/12_1.png" width="1200" class="sre11" style="position: absolute;">
          <img src="img/apps/23/12_2.png" width="1200" >
                  <span onclick="fff211();" class="bu211">на 1-й поверх</span>
                  <span onclick="fff111();" class="bu111">на 2-й поверх</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff111(){
  $('.sre11').css({visibility: 'hidden'});
  $('.bu111').css({visibility: 'hidden'});
  $('.bu211').css({visibility: 'visible'});
}
function fff211(){
  $('.sre11').css({visibility: 'visible'});
  $('.bu111').css({visibility: 'visible'});
  $('.bu211').css({visibility: 'hidden'});
}
</script>    

<!-- Modal23 -->
  <div class="modal fade" id="myModal23" role="dialog" style="background: url(img/podlogka.png);">
    <div class="modal-dialog" style="width: 80%">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="opacity: 1;"><img src="http://www.coolmod.com/images/ampliaciones_regalos/364_35fe6410e9704386416cfdf9e0aea69d.png" width="50"></button>
          <h4 class="modal-title" style="font-size: 30px;">П'ятикімнатна квартира</h4>
        </div>
        <div class="modal-body">

          <img src="img/apps/23/13_1.png" width="1200" class="sre12" style="position: absolute;">
          <img src="img/apps/23/13_2.png" width="1200" >
                  <span onclick="fff212();" class="bu212">на 1-й поверх</span>
                  <span onclick="fff112();" class="bu112">на 2-й поверх</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>

<script>
function fff112(){
  $('.sre12').css({visibility: 'hidden'});
  $('.bu112').css({visibility: 'hidden'});
  $('.bu212').css({visibility: 'visible'});
}
function fff212(){
  $('.sre12').css({visibility: 'visible'});
  $('.bu112').css({visibility: 'visible'});
  $('.bu212').css({visibility: 'hidden'});
}
</script>    








  <script>
    
$('.btn-test1').on("click", function() {
    $('.path1').css({ opacity: '0.6' });
    $('.path2').css({ opacity: '0' });
    $('.path3').css({ opacity: '0' });
    $('.path4').css({ opacity: '0' });
    $('.path5').css({ opacity: '0' });

    $('.btn-test1').css({color: '#cf6b3e'});
    $('.btn-test2').css({color: 'grey'});
    $('.btn-test3').css({color: 'grey'});
    $('.btn-test4').css({color: 'grey'});
    $('.btn-test5').css({color: 'grey'});
});
$('.btn-test2').on("click", function() {
    $('.path2').css({ opacity: '0.6' });
    $('.path1').css({ opacity: '0' });
    $('.path3').css({ opacity: '0' });
    $('.path4').css({ opacity: '0' });
    $('.path5').css({ opacity: '0' });

    $('.btn-test1').css({color: 'grey'});
    $('.btn-test2').css({color: '#cf6b3e'});
    $('.btn-test3').css({color: 'grey'});
    $('.btn-test4').css({color: 'grey'});
    $('.btn-test5').css({color: 'grey'});
});
$('.btn-test3').on("click", function() {
    $('.path3').css({ opacity: '0.6' });
    $('.path2').css({ opacity: '0' });
    $('.path1').css({ opacity: '0' });
    $('.path4').css({ opacity: '0' });
    $('.path5').css({ opacity: '0' });

    $('.btn-test1').css({color: 'grey'});
    $('.btn-test2').css({color: 'grey'});
    $('.btn-test3').css({color: '#cf6b3e'});
    $('.btn-test4').css({color: 'grey'});
    $('.btn-test5').css({color: 'grey'});
});
$('.btn-test4').on("click", function() {
    $('.path1').css({ opacity: '0' });
    $('.path2').css({ opacity: '0' });
    $('.path3').css({ opacity: '0' });
    $('.path4').css({ opacity: '0.6' });
    $('.path5').css({ opacity: '0' });

    $('.btn-test1').css({color: 'grey'});
    $('.btn-test2').css({color: 'grey'});
    $('.btn-test3').css({color: 'grey'});
    $('.btn-test4').css({color: '#cf6b3e'});
    $('.btn-test5').css({color: 'grey'});
});
$('.btn-test5').on("click", function() {
    $('.path1').css({ opacity: '0' });
    $('.path2').css({ opacity: '0' });
    $('.path3').css({ opacity: '0' });
    $('.path4').css({ opacity: '0' });
    $('.path5').css({ opacity: '0.6' });

    $('.btn-test1').css({color: 'grey'});
    $('.btn-test2').css({color: 'grey'});
    $('.btn-test3').css({color: 'grey'});
    $('.btn-test4').css({color: 'grey'});
    $('.btn-test5').css({color: '#cf6b3e'});
});
$('.btn-reset').on("click", function() {
    $('.path1, .path2, .path3, .path4, .path5').css({ opacity: '0' });
    $('.btn-test1, .btn-test2, .btn-test3, .btn-test4, .btn-test5').css({ color: 'grey' });
});

  </script>

  <script>

// Show/Hide menu
function fH(blockId, blockId1, blockId2){ 
  $('.typed').css({color: '#cf6b3e'});
    $('.individual').css({color: 'grey'});
    $('.twoleveled').css({color: 'grey'}); 
    if ($(blockId).css('display') == 'none'){ 
            $(blockId).animate({left: 'show'}, 0);
            $(blockId1).animate({left: 'hide'}, 0);
            $(blockId2).animate({left: 'hide'}, 0);
        }   
    else{     
            
            
        }
}

function fH1(blockId, blockId1, blockId2){
$('.typed').css({color: 'grey'});
$('.individual').css({color: '#cf6b3e'});
$('.twoleveled').css({color: 'grey'}); 
    if ($(blockId1).css('display') == 'none'){ 
            $(blockId1).animate({left: 'show'}, 0);
            $(blockId).animate({left: 'hide'}, 0);
            $(blockId2).animate({left: 'hide'}, 0);
        } 
    else{     
            
            
        }
}

function fH2(blockId, blockId1, blockId2){
$('.typed').css({color: 'grey'});
$('.individual').css({color: 'grey'});
$('.twoleveled').css({color: '#cf6b3e'});  
    if ($(blockId2).css('display') == 'none'){ 
            $(blockId1).animate({left: 'hide'}, 0);
            $(blockId).animate({left: 'hide'}, 0);
            $(blockId2).animate({left: 'show'}, 0);
        } 
    else{     
            
            
        }
}

  </script>
  
<script>
  document.getElementById("x1").click();
</script>
        

  </body>
</html>
