<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/fancybox-master/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="css/fancybox-master/jquery.fancybox.min.js"></script>


</head>
<body>

  <a href="javascript:window.open('','_self').close();" id="mydiv" style="margin-top: 30px;"><div style="position: absolute; z-index: 99999; top: 88%; left: 89.6%; background: #181438; border: solid #bd6545 2px; border-radius: 1px; padding: 20px; padding-left: 35px; padding-right: 35px;" id="mydivheader">НАЗАД</div></a>

  <h2 style="text-align: center; color: #1d1737; padding: 4px; margin: 0px; background: #fff; border-bottom: solid 1px #1d1737; position: absolute; top: 0px; width: 100%;"><b>ХIД БУДIВНИЦТВА</b></h2>

  <div class="container-fluid text-center" style="opacity: 0.95;">

    <!-- 1й ряд -->
    <div class="row" style="margin-top: 7.8%;">

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo">
            <h2 class="vtitle">Сiчень 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Январь.png" width="450" height="250" />
          </a>

          <video controlsList="nodownload" disablePictureInPicture controls muted="" id="myVideo" style="display:none; ">
            <source src="video/gallery/Январь.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo1">
            <h2 class="vtitle">Лютий 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Лютий.png" width="450" height="250" />
          </a>

          <video controls controlsList="nodownload" disablePictureInPicture id="myVideo1" muted="" style="display:none; ">
            <source src="video/gallery/Февраль.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo2">
            <h2 class="vtitle">Березень 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Березень.png" width="450" height="250" />
          </a>

          <video controls controlsList="nodownload" disablePictureInPicture id="myVideo2" muted="" style="display:none; ">
            <source src="video/gallery/Март.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo3">
            <h2 class="vtitle">Квiтень 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Квiтень.png" width="450" height="250" />
          </a>

          <video controlsList="nodownload" disablePictureInPicture controls muted="" id="myVideo3" style="display:none; ">
            <source src="video/gallery/Апрель.mp4" type="video/mp4">
          </video>
        </div>
      </div>

    </div>

    <!-- 2й ряд -->
    <div class="row" style="margin-top: 3%;">

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo4">
            <h2 class="vtitle">Травень 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Травень.png" width="450" height="250" />
          </a>

          <video controlsList="nodownload" disablePictureInPicture controls muted="" id="myVideo4" style="display:none; ">
            <source src="video/gallery/Май.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo5">
            <h2 class="vtitle">Червень 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Червень.png" width="450" height="250" />
          </a>

          <video controls controlsList="nodownload" disablePictureInPicture id="myVideo5" muted="" style="display:none; ">
            <source src="video/gallery/Июнь.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo6">
            <h2 class="vtitle">Липень 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Липень.png" width="450" height="250" />
          </a>

          <video controls controlsList="nodownload" disablePictureInPicture id="myVideo6" muted="" style="display:none; ">
            <source src="video/gallery/Июль.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo7">
            <h2 class="vtitle">Серпень 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Серпень.png" width="450" height="250" />
          </a>

          <video controlsList="nodownload" disablePictureInPicture controls muted="" id="myVideo7" style="display:none; ">
            <source src="video/gallery/Август.mp4" type="video/mp4">
          </video>
        </div>
      </div>

    </div>

    <!-- 3й ряд -->
    <div class="row" style="margin-top: 3%;">

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo8">
            <h2 class="vtitle">Вересень 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Вересень.png" width="450" height="250" />
          </a>

          <video controlsList="nodownload" disablePictureInPicture controls muted="" id="myVideo8" style="display:none; ">
            <source src="video/gallery/Сентябрь.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <a data-fancybox href="#myVideo9">
            <h2 class="vtitle">Жовтень 2019</h2>
            <img class="img-rounded" src="video/gallery/Постер Жовтень.png" width="450" height="250" />
          </a>

          <video controls controlsList="nodownload" disablePictureInPicture id="myVideo9" muted="" style="display:none; ">
            <source src="video/gallery/Октябрь.mp4" type="video/mp4">
          </video>
        </div>
      </div>

    </div>

  </div>





</body>
</html>