{% extends 'base.html.twig' %}
{% block body %}
    <form action>
    <p><input type="text" name="name" > <br>
    <input type="text" url="url" ><br>
    <input type="file" src="logo" ><br>
    <input type="text" BrandName="BrandName" ></p>
    <button type="submint">отправить</button>
    </form>
{% endblock %}
