{% block body %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <div class="container">
        <div class="row">
            <div class="col-6">

                <ul>
                 <a>Редакторивание</a>

                </ul>
            </div>
        </div>
    </div>


{% endblock %}